body {
	font: 10pt Arial;
	margin: 10px 50px;
	color: #344534;
}

#map-canvas, div#wrapper{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	overflow: hidden;
}

input, textarea{
	border: 1px solid #9a9a9a;
	border-radius: 3px;
}

input:focus, textarea:focus {
	box-shadow: inset 0px 0px 3px #d08f2a;
	border: 1px solid #d08f2a;
}

/* Container */
div#content {
	z-index: 10;
	/*position: relative;
	height: 100%;*/
}

.logo {
	position: absolute;
	right: 12px;
	top: 8px;
}

.widget {	
	padding: 15px;
	background-color: #dedede;	
	position: absolute;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;	
	box-shadow: 0 0 10px #676767;
	border: 1px solid #a3a3a3;	
}

.widget.search {
	top: 150px;
	z-index: 1000;
}

.buttons{
	position: absolute;
	list-style: none;
	padding: 0px;
	margin: 0px;
	top: 250px;	
}

.buttons li{
	background: #dedede url('images/btn_create.png') no-repeat 72px center;
	padding: 9px 30px 9px 9px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	border: 1px solid #a3a3a3;
	-moz-box-shadow: 0 0 10px #676767;
	box-shadow: 0 0 10px #676767;

	font: 11pt Arial;
	font-weight: bold;
	color: #353535;
	cursor: pointer;
	
	margin: 15px 0px;
	width: 65px;
	position: relative;
	left: -65px; 
}
.buttons li.create {	background-image: url('images/btn_create.png');	}
.buttons li.latest {	background-image: url('images/btn_latest.png');	}

.buttons li.enabled {
	left: 0px;
}

.buttons.map-control { top: inherit; bottom: 70px; }
.buttons.map-control li.expose {	background-image: url('images/btn_expose.png');	}
.buttons.map-control li.expose.enabled {	
	background-color: #555575;
	color: white;
	box-shadow: 0px 0px 7px #68688F;
	border-color: #A5A5A5;
}

/** Panel **/
.panel {
	padding: 11px;
	background-color: #EFEFEF;	
	position: absolute;
	left: 300px;
	top: 250px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	box-shadow: 0 0 10px #676767;
	-webkit-box-shadow: 0 0 10px #676767;
	-moz-box-shadow: 0 0 10px #676767;
	width: 340px;
}

.panel.active {
	background-color: #dedede;	
	position: absolute;
	box-shadow: 0px 0px 10px 0px #ff0099;
	-webkit-box-shadow: 0px 0px 10px 0px #ff0099;
	-moz-box-shadow: 0px 0px 10px 0px #ff0099;
	background-color: #D1D1D1;
}

.panel > div{
	background-color: white;	
	border: 2px solid #cccccc;	
	font-size: 8pt;
}

.panel .container{
	position: relative;
	padding: 5px;
}

.panel .disable_frame{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #dedede;
	opacity: 0.9;
	z-index: 1000;
}

.panel.disabled .title, .panel.disabled .close, .panel.disabled .actions {
	display: none;
}

.panel .close{
	position: absolute;
	right: -6px;
	top: -9px;
	display: block;
	background-color: white;
	border: 1px solid #cccccc;
	height: 24px;
	width: 35px;
	text-align: center;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	font-size: 7pt;
	padding-top: 11px;
	color: #767676;
}

.panel .close:hover {
	border-color: #dd6666;
	cursor: pointer;	
}

.panel .actions {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	position: absolute;
	right: 11px;
	bottom: -7px;
}

.panel .title, .panel .actions li a{	
	display: block;
	height: 14px;
	padding: 2px 15px;
	background-color: white;
	border: 2px solid #cccccc;
	font-size: 9pt;
}

.panel .title {	
	position: absolute;
	display: block;
	top: -7px;
	left: 11px;
	border-bottom: none;
	padding-left: 25px;
	padding-right: 25px;
}

.panel:hover .title {
	background: white url('images/move.png') no-repeat 5px center;
}

.panel .title:hover {	
	cursor: pointer;
}

.panel .actions li {
	display: inline-block;
}
.panel .actions li a{
	border-top: none;
	margin-left: 8px;	
}

.panel .actions li a{
	text-decoration: none;
	color: #767676;
}

.panel .actions li a:hover{
	text-decoration: none;
	color: black;
}

.panel .ui-form textarea {
	resize: vertical;
}

.loading {
	min-height: 300px;
	height: 100%;
	line-height: 100%;	
	background: white url('images/loading.gif') no-repeat center center;	
}

.panel .submitted h1{
	margin: 150px auto 0px auto;
	width: 200px;
	padding-bottom: 230px;
	text-align: center;
	background: white url('images/check.png') no-repeat 65% center;
}



/** InfoPanel **/
.panel.info {

}
	
/** search **/
.widget.search ul.results {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	white-space: pre;
}

.widget.search input {
	width: 96%;
}

.widget.search ul.results  li{
	background-color: #f1f1f1;
	margin: 1px auto;
	padding: 2px 4px;
	cursor: pointer;
}

/** rating **/
.rating .textual {
	vertical-align: super;
}

.rating .textual .score {
	font-weight: bold;
	font-size: 1.1em;
}

.rating .textual .total {
	margin-left: 5px;
	font-style: italic;
}

ul.rating {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 105px;
	display: inline-block;
}	

ul.rating li{
	background: transparent url('images/stars.png') no-repeat left top;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

ul.rating.current-1 li.rate-1,
ul.rating.current-2 li.rate-1,
ul.rating.current-2 li.rate-2,
ul.rating.current-3 li.rate-1,
ul.rating.current-3 li.rate-2,
ul.rating.current-3 li.rate-3,
ul.rating.current-4 li.rate-1,
ul.rating.current-4 li.rate-2,
ul.rating.current-4 li.rate-3,
ul.rating.current-4 li.rate-4,
ul.rating.current-5 li.rate-1,
ul.rating.current-5 li.rate-2,
ul.rating.current-5 li.rate-3,
ul.rating.current-5 li.rate-4,
ul.rating.current-5 li.rate-5 {
	background-position: left -20px;
}
ul.rating li.hover {
	background-position: left -60px !important;
}

ul.rating.selected.current-1 li.rate-1,
ul.rating.selected.current-2 li.rate-1,
ul.rating.selected.current-2 li.rate-2,
ul.rating.selected.current-3 li.rate-1,
ul.rating.selected.current-3 li.rate-2,
ul.rating.selected.current-3 li.rate-3,
ul.rating.selected.current-4 li.rate-1,
ul.rating.selected.current-4 li.rate-2,
ul.rating.selected.current-4 li.rate-3,
ul.rating.selected.current-4 li.rate-4,
ul.rating.selected.current-5 li.rate-1,
ul.rating.selected.current-5 li.rate-2,
ul.rating.selected.current-5 li.rate-3,
ul.rating.selected.current-5 li.rate-4,
ul.rating.selected.current-5 li.rate-5 {
	background-position: left -40px;
}
ul.rating.selected li{
	cursor: auto;
}

/** HelpPanel **/
.panel.help {
	
}

.panel.help iframe {
	width: 99%;
	height: 500px;
	border: none;
	margin-top: 7px;
}

/** Component Form **/
.ui-form ul.fields {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.ui-form ul.fields li{
	margin: 5px 0px;
}

.ui-form ul.fields label {
	display: block;
	font-weight: bold;
	color: #656565;
}

.ui-form .ui-form-error {
	color: #dd0000;
}

/** Component Place editor **/

.place-editor {
	min-height: 300px;
}

.place-editor form {
	padding: 0px;
	margin: 0px;
}

.place-editor textarea,
.place-editor input{
	width: 98%;
	background-color: #F1F1F1;
	font-weight: bold;
	font-family: Trebuchet MS;
	font-size: 1.1em;
}

.place-editor ul.categories{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.place-editor ul.categories li {
	cursor: pointer;
	display: inline-block;
	padding: 5px 5px 0 20px;
	margin-right: 5px;
	color: #454545;
	width: 130px;
	position: relative;
	padding-left: 20px;
	line-height: 6px;	
}

.place-editor ul.categories li .checkbox{
	width: 10px;
	height: 10px;
	display: block;
	border: 2px solid red;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
	left: 3px;
	top: 1px;
}

.place-editor ul.categories li.enabled .checkbox{
	background-color: red;
}

.place-editor ul.fields li.address > div{
	font-weight: bold;
	font-size: 1.3em;
}


.place-editor table {
	border-spacing: 0px;
}

.place-editor.show-uploads table td.right-row {	
	border-left: 1px solid #9a9a9a;	
	padding: 0px;
	width: 200px;
	height: 100%;
	vertical-align: bottom;
}

.place-editor.show-uploads table td.right-row > div{
	width: 200px;	
	overflow: auto;
	position: absolute;
	top: 5px;
	bottom: 5px;
	right: 3px;
}
	

.place-editor .photos-grid {
	width: 100%;
	border-spacing: 0px;
}

.place-editor .photos-grid tr:nth-child(odd) td{
	background-color: #f0f0f0;
}

.place-editor .photos-grid td.image{
	width: 48px;
	text-align: center;
	padding: 1px 0px;
}

.place-editor .photos-grid td.fname div{
	word-wrap: break-word;	
	width: 90px;
	padding: 4px 4px 0px 4px;
}

.place-editor .photos-grid tr.upload td.fname div{
	width: 138px;
}

.place-editor .photos-grid td.delete{
	width: 36px;
}

.place-editor .photos-grid td{
	padding: 0px;
}



/** Component Place Viewer **/

.place-viewer h3.name {
	margin: 2px 0px;
	font-size: 1.3em;
	color: #b77d22;
}
.place-viewer ul.info{
	list-style-type: none;
	padding: 0px;
	margin: 0px;	
}

.place-viewer ul.info label{
	font-weight: bold;
}

.place-viewer .description{
	padding: 2px;
	font-size: 9pt;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 400px;
    overflow: auto;
}

.place-viewer ul.categories{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	position: absolute;
    right: 25px;
    top: -27px;
}

.place-viewer ul.categories li{
	display: inline-block;
	margin-left: 5px;
}


.place-viewer .photos {
	left: 0px;
	width: 160px;
	text-align: center;
	float: left;
}
.place-viewer .photos .gallery a{
	display: block;
	width: 160px;
	height: 121px;
	background-color: white;
}

.place-viewer .photos  .gallery a img{
	display: block;
	margin: 0px auto;
	border: 3px solid #9a9a9a;
	border-radius: 3px;
}

.place-viewer .photos .pager{
	display: inline-block;
}

.place-viewer .photos .pager a{
	display: inline-block;
	background: transparent url('images/pager-dot.png') no-repeat center center;
	width: 8px;
	height: 8px;
}

.place-viewer .photos .pager a.activeSlide{
	background-image: url('images/pager-dot-active.png');
}


.place-viewer .video{
	margin: 15px 15px 15px 0px;		
	float: right;
}

.place-viewer .video a{
	position: relative;
	display: inline-block;
}

.place-viewer .video a .watermark{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: transparent url('images/play-button-icon.png') no-repeat center center;
}